table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th, td {
    padding: 5px;
}

tr {
    border: 1px solid black;
}

#top_section {
    width: 100%;
    float: left;
    outline: 1px solid black
}

#bottom_section {
    width: 100%;
    float: left;
    margin-top: 20px;
    outline: 1px solid black
}

.product_name:hover, .shop_name:hover {
    font-weight: bold;
    cursor: pointer;
}

#checkout_with_home_delivery, #checkout_with_non_home_delivery {
    width: 25%;
    height: 40px;
}