#left_section {
    width: 25%;
    float: left;
    outline: 1px solid black;
}

#left_top, #left_bottom {
    width: 100%;
    outline: 1px solid black;
}

#center_section {
    width: 75%;
    float: left;
}

#center_top {
    width: 100%;
    height: 200px;
    outline: 1px solid black;
}

#center_middle {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
    outline: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 1px;
    box-sizing: border-box;
}

#bar {
    width: 100%;
    height: 40px;
    float: left;
    outline: 1px solid black;
}

.nearBy {
    width: 100%;
    font-size: large;
    height: 100%;
}

#sortBy {
    width: 50%;
    height: 100%;
    float: right;
    font-size: large;
}

#order_by {
    width: 25%;
    height: 100%;
    float: right;
    font-size: large;
}

#center_bottom {
    width: 100%;
    float: left;
    margin-top: 20px;
    outline: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 1px;
    box-sizing: border-box;
}