table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th, td {
    padding: 5px;
}

tr {
    border: 1px solid black;
}

#left_section {
    width: 80%;
    float: left;
    outline: 1px solid black
}

#left_top {
    width: 100%;
    float: left;
    outline: 1px solid black
}

#left_bottom {
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 20px;
    outline: 1px solid black
}

#right_section {
    width: 20%;
    float: left;
    outline: 1px solid black
}

.product_name:hover, .shop_name:hover {
    font-weight: bold;
    cursor: pointer;
}