.product_image {
    width: 90%;
    height: 46%; /* 51% */
    padding: 5%;
    float: left;
}

.product_box {
    float: left;
    width: 150px;
    height: 350px;
    position: relative;
    outline: 1px solid black;
    cursor: pointer;
    text-align: center;
}

.product_link {
    float: left;
    width: 100%;
    height: 90%;
    cursor: pointer;
    text-align: center;
}

.name_raing_box {
    width: 100%;
    float: left;
    height: 19%;
    /*background-color: lightcoral;*/
}
.quick_info_box {
    width: 100%;
    height: 30%;
    float: left;
    text-align: right;
    /*background-color: lightblue;*/
}

.product_quick_info {
    color: grey;
    font-size: small;
    list-style: none;
    text-align: left;
    padding-left: 10px;
}

.product_box:hover {
    cursor: pointer;
    /*color: white;*/
    background-color: lightgray;
    /*outline: 5px solid blue;*/
}

.product_box:hover .product_link > .quick_info_box > .product_quick_info {
    color: black;
}

.button_box {
    width: 100%;
    height: 10%;
    float: left;
    text-align: center;
    /*background-color: #c0efc0;*/
}

.add_to_compare{
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*right: 10px;*/
    top: 10px;
    z-index: 99;
}
.add_to_wishlist {
    width: 25px;
    height: 25px;
    position: absolute;
    padding: 2px;
    right: 1px;
    top: 1px;
    z-index: 99;
    outline: 1px solid black;
}
.add_to_wishlist:hover{
    background-color: indianred;
}

/* Custom ToolTip*/
/*.tooltiptext {*/
    /*visibility: hidden;*/
    /*width: 90px;*/
    /*background-color: black;*/
    /*color: white;*/
    /*text-align: center;*/
    /*font-size: smaller;*/
    /*padding: 5px;*/
    /*opacity: .7;*/
    /*margin-left: 10px;*/

    /*!* Position the tooltip *!*/
    /*position: absolute;*/
    /*z-index: 199;*/
/*}*/
/*.add_to_wishlist:hover .tooltiptext{*/
    /*visibility: visible;*/
/*}*/

/* Login Stuff */
#login_modal {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    float: left;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
#login_box{
    width: 50%;
    height: 70%;
    margin: 5% auto;
    background-color: azure;
}
#login_left_section, #login_right_section{
    width: 40%;
    height: 90%;
    padding: 5%;
    float: left;
    outline: 1px solid black
}
#close_modal {
    width: 50px;
    height: 50px;
    float: right;

}