.product_image {
    width: 90%;
    padding: 5%;
}

.product_link {
    float: left;
    width: 150px;
    height: 300px;
    outline: 1px solid lightblue;
    cursor: pointer;
    text-align: center;
}

.quick_info_box {
    width: 100%;
    text-align: right;
}

.product_quick_info {
    color: grey;
    font-size: small;
    list-style: none;
    text-align: left;
    padding-left: 10px;
}

.product_link:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.product_link:hover > .quick_info_box > .product_quick_info {
    color: white;
}