#center_section {
    width: 100%;
    /*height: 600px;*/
    float: left;
    outline: 1px solid black;
}

.column {
    width: 25%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

table {
    width: 100%;
    /*height: 100%;*/
    border-collapse: collapse;
    /*position: relative;*/
}

td {
    width: 20%;
    padding: 1%;
    border: 1px solid black;
    position: relative;
}

.compare_product_image{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    outline: none;
}

.remove_from_compare {
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 2px;
    right: 1px;
    top: 1px;
    z-index: 99;
    outline: 1px solid black;
}

.remove_from_compare:hover {
    background-color: indianred;
}