body {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

header {
    width: 1200px;
    height: auto;
    position: fixed;
    float: left;
    background-color: beige;
    z-index: 999;
    top: 0;
    /*outline: 1px solid black;*/
}

#content {
    width: 100%;
    float: left;
    margin-top: 125px;
}

/* Top Stuff */
#header_top {
    width: 100%;
    height: 125px;
    float: left;
    outline: 1px solid purple;
}

/* Left Stuff */
#left {
    width: 20%;
    height: 100%;
    float: left;
    outline: 1px solid red;
}

/* Center Stuff */

#header_center {
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
    outline: 1px solid green;
    box-sizing: border-box;
}

#header_department-category {
    width: 100%;
    height: 75px;
    float: left;
    outline: 1px solid black;
}

/* Right Stuff */
#right {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
    outline: 1px solid blue;
}

#header_contact {
    width: 100%;
    height: 25%;
    outline: 1px solid black;
}

#header_login, #header_more {
    float: left;
    width: 50%;
    height: 25%;
    position: relative;
    outline: 1px solid black;
}

#profile_modal {
    float: left;
    width: 100%;
    height: 100%;
    /*position: fixed;*/
}

#view_profile, #logout {
    width: 100%;
    height: 37px;
    float: left;
}

#header_cart, #header_wishlist {
    float: left;
    width: 50%;
    height: 50%;
    outline: 1px solid black;
}

.btn_right_buttons {
    width: 100%;
    height: 100%;
}

/* bottom stuff */
#header_bottom {
    width: 100%;
    float: left;
    outline: 1px solid orange;
}

#header_category_products {
    width: 100%;
    height: auto;
    float: left;
    background-color: #f1d5f9;
    outline: 1px solid black;
}

#header_category_container {
    width: 25%;
    height: auto;
    float: left;
    outline: 1px solid black;
}

#header_category_products_container {
    width: 75%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

.header_category_link {
    width: 100%;
    height: 50px;
    float: left;
    outline: 1px solid black;
}

.header_category_link_name {
    width: 70%;
    height: 100%;
    float: left;
    padding: 5%;
    box-sizing: border-box;
    /*outline: 1px solid black;*/
}

.header_category_link_viewall {
    width: 30%;
    height: 100%;
    float: left;
    padding: 5%;
    box-sizing: border-box;
}

.search_product_link, .search_category_link, .search_shop_link {
    padding: 5px;
}

#search_suggestions {
    width: 100%;
    float: left;
    position: absolute;
    background-color: aliceblue;
    outline: 1px solid black;
    z-index: 99;
}

#search_bar {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: x-large;
}

.search_product_link:hover, .search_category_link:hover, .search_shop_link:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

/* Department + Category */
.header_dept_link {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff8c87;
    outline: 1px solid black;
}

.header_dept_link:hover, .header_category_link_name:hover {
    font-weight: bold;
    cursor: pointer;
}
