body {
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 1200px;
    height: 150px;
    position: fixed;
    background-color: beige;
    z-index: 999;
    top: 0;
    /*outline: 1px solid black;*/
}

#content {
    width: 100%;
    margin-top: 150px;
}
#left{
    width: 25%;
    height: 100%;
    float: left;
    outline: 1px solid red;
}
#center{
    width: 50%;
    height: 100%;
    float: left;
    outline: 1px solid green;
}

/* Right Stuff */
#right{
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    outline: 1px solid blue;
}

#header_contact {
    width: 100%;
    height: 25%;
    outline: 1px solid black;
}

#header_login, #header_more {
    float: left;
    width: 50%;
    height: 25%;
    position: relative;
    outline: 1px solid black;
}

#profile_modal {
    float: left;
    width: 100%;
    /*position: fixed;*/
}

#view_profile, #logout {
    width: 100%;
    float: left;
}

#header_cart, #header_wishlist {
    float: left;
    width: 50%;
    height: 50%;
    outline: 1px solid black;
}

.btn_right_buttons {
    width: 100%;
    height: 100%;
}





.search_product_link, .search_category_link, .search_shop_link {
    padding: 5px;
}
#search_suggestions{
    width: 100%;
    float: left;
    position: relative;
    background-color: aliceblue;
    outline: 1px solid black;
    z-index: 99;
}
#search_bar{
    width: 100%;
}

.search_product_link:hover, .search_category_link:hover, .search_shop_link:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}