h2{
    margin: 0 0;
}
#dept-category{
    outline: 1px solid black;
}
#dept_container {
    width: 100%;
    height: 100px;
    outline: 1px solid black;
}
.dept_link {
    width: 25%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}
.dept_link:hover, .category_link:hover{
    background-color: silver;
    cursor: pointer;
}
#category-products{
    width: 100%;
    height: auto;
    float: left;
    outline: 1px solid green;
}
#category_container{
    width: 25%;
    height: auto;
    float: left;
    outline: 1px solid black;
}
#category_products_container{
    width: 75%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}
.category_link{
    width: 100%;
    height: 50px;
    /*float: left;*/
    outline: 1px solid black;
}
#new-products, #top-products{
    clear: both;
}

.product_image {
    width: 90%;
    padding: 5%;
}

.product_link {
    float: left;
    width: 150px;
    height: 300px;
    outline: 1px solid lightblue;
    /*border-bottom: 2px solid black;*/
    /*border-right: 2px solid black;*/
    cursor: pointer;
    /*padding-top: 1%;*/
    /*padding-left: 1%;*/
    /*padding-right: 1%;*/
    text-align: center;
}

.quick_info_box {
    /*background-color: #c0efc0;*/
    width: 100%;
    text-align: right;
}

.product_quick_info {
    color: grey;
    font-size: small;
    list-style: none;
    text-align: left;
    padding-left: 10px;
}

/*.product_quick_info ul{*/
/*padding-left: 0px;*/
/*}*/
.product_link:hover {
    cursor: pointer;
    /*font-weight: bolder;*/
    color: white;
    background-color: black;
    /*outline: 1px solid blue;*/
}

.product_link:hover > .quick_info_box > .product_quick_info {
    color: white;
}