h2{
    margin: 0 0;
}
#dept-category{
    outline: 1px solid black;
}
#dept_container {
    width: 100%;
    height: 100px;
    outline: 1px solid black;
}
.dept_link {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 1px solid black;
}
#category-products{
    width: 100%;
    height: auto;
    float: left;
    outline: 1px solid green;
}
#category_container{
    width: 25%;
    height: auto;
    float: left;
    outline: 1px solid black;
}
#category_products_container{
    width: 75%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}
.category_link{
    width: 100%;
    height: 50px;
    float: left;
    outline: 1px solid black;
}

.category_link_name {
    width: 70%;
    height: 100%;
    float: left;
    padding: 5%;
    box-sizing: border-box;
    /*outline: 1px solid black;*/
}

.category_link_viewall {
    width: 30%;
    height: 100%;
    float: left;
    padding: 5%;
    box-sizing: border-box;
}

.dept_link:hover, .category_link_name:hover {
    font-weight: bold;
    cursor: pointer;
}

#new-products, #top-products{
    clear: both;
}

