#top_section {
    width: 100%;
    height: 800px;
    float: left;
    outline: 1px solid black;
}

#top_left {
    width: 70%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

#top_left_top {
    width: 100%;
    height: 40%;
    float: left;
    outline: 1px solid black;
}

#top_left_top_left {
    width: 40%;
    height: 100%;
    text-align: center;
    position: relative;
    float: left;
    outline: 1px solid black;
}

#top_left_top_right {
    width: 60%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

#top_left_top_right_top {
    width: 100%;
    height: 30%;
    float: left;
    outline: 1px solid black;
}

#top_left_top_right_bottom {
    width: 100%;
    height: 70%;
    float: left;
    outline: 1px solid black;
}

#top_left_top_right_bottom_left {
    width: 10%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

#top_left_top_right_bottom_right {
    width: 90%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

#top_left_bottom {
    width: 100%;
    height: 60%;
    float: left;
    outline: 1px solid black;
}

#top_left_bottom_left {
    width: 65%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

#top_left_bottom_right {
    width: 35%;
    height: 100%;
    overflow: scroll;
    float: left;
    outline: 1px solid black;
}

#top_right {
    width: 30%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

#center_section {
    width: 100%;
    height: auto;
    float: left;
    outline: 1px solid black;
}

#bottom_section {
    width: 100%;
    height: 300px;
    float: left;
    outline: 1px solid black;
}

/* Element Styling */

#product_image {
    width: 80%;
    padding: 5%;
}

.thumbnail {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;

    float: left;
    outline: 1px solid black;
    /*transition: all .2s ease-in-out;*/
}

#top_left_top_right_bottom_right .product_quick_info {
    font-size: larger;
    list-style: none;
    text-align: left;
    margin: 5px 0 10px;
    padding-left: 10px;
}

#spec_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#spec_table td {
    padding: 5px;
    border: 1px solid black;
}

#spec_table tr:hover {
    font-weight: bold;
    cursor: default;
}

.shop_box_open, .shop_box_close {
    width: 100%;
    height: 175px;
    margin-bottom: 20px;
    outline: 1px solid black;
}

.shop_box_top_open, .shop_box_top_close {
    width: 100%;
    height: 60%;
    float: left;
    outline: 1px solid black;
}

.shop_box_top_left_open, .shop_box_top_left_close {
    width: 40%;
    height: 100%;
    float: left;
    padding: 5%;
    outline: 1px solid black;
    box-sizing: border-box;
}

.shop_box_top_right_open {
    width: 60%;
    height: 100%;
    padding: 2%;
    float: left;
    background-color: #dfefff;
    outline: 1px solid black;
    box-sizing: border-box;
}

.shop_box_top_right_open:hover {
    background-color: lightblue;
    cursor: pointer;
}

.shop_box_top_right_close {
    width: 60%;
    height: 100%;
    padding: 2%;
    float: left;
    color: #5b5b5b;
    background-color: #b2b6b8;
    outline: 1px solid black;
    box-sizing: border-box;
}

.shop_box_top_right_close:hover {
    cursor: default;
}

.shop_box_bottom_open, .shop_box_bottom_close {
    width: 100%;
    height: 40%;
    float: left;
    outline: 1px solid black
}

.order {
    width: 100%;
    height: 50%;
    float: left;
}

.cart, .walkIn {
    width: 50%;
    height: 50%;
    float: left;
}

#tab_pane {
    width: 100%;
    height: 5%;
    float: left;
}

#description_tab {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    outline: 1px solid black;
}

#specs_tab {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    outline: 1px solid black;
}

#specs_tab_content, #desc_tab_content {
    width: 100%;
    height: 95%;
    float: left;
}

/*#description_tab:hover, #specs_tab:hover{*/
/*background-color: #c0efc0;*/
/*cursor: pointer;*/
/*}*/