#left_section {
    width: 25%;
    /*height: 200px;*/
    float: left;
    outline: 1px solid black;
}

#center_section {
    width: 75%;
    float: left;
    outline: 1px solid black;
}

#center_top {
    width: 100%;
    float: left;
    outline: 1px solid black;
}

#center_middle {
    width: 98%;
    float: left;
    padding: 1%;
    outline: 1px solid black;
}

#center_bottom {
    width: 100%;
    float: left;
    outline: 1px solid black;
}

#left_top {
    width: 100%;
    outline: 1px solid black;
}

#left_bottom {
    width: 100%;
    outline: 1px solid black;
}

.nearBy {
    font-size: large;
}
#sortBy {
    float: right;
    font-size: large;
}

#order_by {
    font-size: large;
}