body {
    width: 1400px;
    margin: 0 auto;
}

input[type="search"] {
    width: 100%;
}

#top_section {
    width: 100%;
    float: left;
    outline: 1px solid yellow;
}

#left_section {
    width: 20%;
    /*height: 100px;*/
    float: left;
    outline: 1px solid red;
}

#center_section {
    width: 60%;
    /*height: 100px;*/
    float: left;
    outline: 1px solid green;
}

#right_section {
    width: 20%;
    /*height: 100px;*/
    float: left;
    outline: 1px solid blue;
}

#search_box {
    width: 100%;
    outline: 1px solid black;
}

.search_result_link {
    width: auto;
    height: 100%;
}

.search_result_link:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

#submit_update {
    background-color: orange;
    color: white;
    font-size: large;
}

#inventory_table, .table_header, .table_element, .product_link {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.product_link:nth-child(even) {
    background-color: mintcream;
}

#table_total {
    font-weight: bold;
    background-color: #c0efc0;
}

.table_header {
    font-size: large;
    font-weight: bolder;
    background-color: black;
    color: white;
    border-color: white;
}

#submit_new {
    background-color: limegreen;
    color: white;
    font-size: large
}

#submit_update:disabled, #submit_new:disabled {
    background-color: lightgrey;
}

#logout {
    float: right;
}

#logout:hover {
    color: blue;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

.product_link:hover {
    color: white;
    background-color: blue;
}